<div class="card">
    <img src="https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8fDA%3D&w=1000&q=80" alt="" class="card-img-top">

    <div class="card-body">
        <small class="bg-light text-danger text-center"> Design </small>
        <small class="bg-light text-success text-center ml-3"> Featured </small>
        <small class="bg-light text-info text-center ml-3"> Views - 100,45 </small>

        <h5 class="mt-1"> How to start a blog in 2023 </h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est ex quos magni dicta ut. Quia ipsum nam soluta eum officia!</p>
        <small class="bg-light text-warning text-center ml-3"> Last updated JUN - 25,2023 </small>
    </div>
</div>
