<div class="card mb-5 mt-5 pb-5 shadow-effect">
    <div class="card-body">
        <h4 class="mt-4 mb-3">Comment (20,00)</h4>

        <div class="comment-box mt-3">
            <h6 class="mb-0">Mustafa Güler</h6>
            <small class="text-danger">Last Updated , July 24 ,2023</small>

            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quasi asperiores omnis distinctio, iste ipsum cumque magnam incidunt corrupti aperiam ad debitis ducimus, assumenda quas in, voluptatem necessitatibus explicabo nostrum!
            </div>

            <a href="" class="mt-1"> Reply </a>
            <a href="" class="mt-1 ml-3"> View Reply </a>

            <hr>
        </div>

        <div class="comment-box mt-3">
            <h6 class="mb-0">Muhammet Güler</h6>
            <small class="text-danger">Last Updated , July 25 ,2023</small>

            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quasi asperiores omnis distinctio, iste ipsum cumque magnam incidunt corrupti aperiam ad debitis ducimus, assumenda quas in, voluptatem necessitatibus explicabo nostrum!
            </div>

            <a href="" class="mt-1"> Reply </a>
            <a href="" class="mt-1 ml-3"> View Reply </a>

            <hr>
        </div>
    </div>
</div>
