<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 class="text-white">Featured Posts</h2>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
        </div>
    </div>
</section>

<section class="container mt-5">
    <div class="col-md-12 text-center">
        <h2>Latest Posts</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore tenetur et quasi iure non sequi, animi, quaerat earum alias esse sunt, magni optio fuga doloremque. Possimus placeat provident quidem! Sapiente.</p>
    </div>

    <div class="row">
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
    </div>
</section>