<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8fDA%3D&w=1000&q=80" alt="">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-danger text-center">Featured</small>
                    <small class="bg-light text-danger text-center">Views</small>
                    <small class="bg-light text-danger text-center">Last Updated - July 24,2023</small>

                    <h1 class="mt-3 mb-4">How to start a blog in 2023</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, reiciendis deleniti? Et, possimus eligendi. Blanditiis accusamus, neque doloribus illo nobis animi, facilis vitae, quidem distinctio provident deleniti cum fugit laboriosam.</p>
                </div>
            </div>

            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>

        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>

    </div>
</div>