<div class="card shadow-effect">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>SUBSCIPTION FORM</h3>
            <p class="m-auto subs-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem doloribus, nihil cupiditate temporibus quia recusandae et dolores minus facilis modi, quis, harum ipsam inventore architecto facere? Itaque eligendi, cumque delectus atque provident quos laboriosam facilis velit placeat pariatur! Ut, consequuntur!</p>

            <form action="" class="form-inline mb-5 mt-5">
                <div class="form-group col-md-5">
                    <input type="text" class="form-control shadow-effect" placeholder="Your name">
                </div>

                <div class="form-group col-md-5">
                    <input type="email" class="form-control shadow-effect" placeholder="Email address">
                </div>

                <div class="col-md-2">
                    <button class="btn btn-info btn-block btn-theme">SUBSCRIBE</button>
                </div>
            </form>
        </div>
    </div>
</div>